extends ../layouts/layout

block content

    h2 Stock View

    .card.mt-3

        .card-body

            h4 Stock Overview

            table.table.table-bordered

                thead

                    tr
                        th Branch
                        th Total Assets
                        th Total Value (₹)

                tbody

                    each item in stock

                        tr

                            td= item.branch

                            td= item.totalAssets

                            td= Number(item.totalValue).toLocaleString("en-IN")

                tfoot

                    tr

                        td
                            b Total

                        td
                            b= totals.assets

                        td
                            b= totals.value.toLocaleString("en-IN")