extends ../layouts/layout

block content

    h2 Employee Management

    .card.mt-3

        .card-body

            form(action="/employees" method="GET")

                .row.mb-3

                    .col-md-3

                        input.form-control(
                            type="text"
                            name="search"
                            placeholder="Search Name / Email"
                            value=search
                        )

                    .col-md-3

                        select.form-select(name="status")

                            option(
                                value=""
                                selected=!status
                            )
                                | All Status

                            option(
                                value="ACTIVE"
                                selected=status=="ACTIVE"
                            )
                                | Active

                            option(
                                value="INACTIVE"
                                selected=status=="INACTIVE"
                            )
                                | Inactive

                    .col-md-2

                        button.btn.btn-primary(type="submit")
                            | Search

                .mb-3

                    a.btn.btn-success(
                        href="/employees/create"
                    )
                        | Add Employee

            table.table.table-bordered

                thead

                    tr
                        th Employee Code
                        th Name
                        th Email
                        th Phone
                        th Status
                        th Action

                tbody

                    if employees && employees.length

                        each employee in employees

                            tr

                                td= employee.employeeCode

                                td #{employee.firstName} #{employee.lastName}

                                td= employee.email

                                td= employee.phone

                                td= employee.status

                                td

                                    a.btn.btn-sm.btn-warning(
                                        href=`/employees/edit/${employee.id}`
                                    )
                                        | Edit

                    else

                        tr

                            td(colspan="6")
                                | No employees found.

            .mt-3

                if pagination.currentPage > 1

                    a.btn.btn-secondary(
                        href=`/employees?page=${pagination.currentPage-1}&search=${search}&status=${status}`
                    )
                        | Previous

                else

                    button.btn.btn-secondary(disabled)
                        | Previous

                span.ms-3.me-3
                    | Page #{pagination.currentPage} of #{pagination.totalPages}

                if pagination.currentPage < pagination.totalPages

                    a.btn.btn-secondary(
                        href=`/employees?page=${pagination.currentPage+1}&search=${search}&status=${status}`
                    )
                        | Next

                else

                    button.btn.btn-secondary(disabled)
                        | Next