extends ../layouts/layout

block content

    h2.mb-4 Dashboard

    .row

        .col-md-3.mb-3

            .card

                .card-body

                    h5 Total Employees

                    h2= totalEmployees

        .col-md-3.mb-3

            .card

                .card-body

                    h5 Assets In Stock

                    h2= assetsInStock

        .col-md-3.mb-3

            .card

                .card-body

                    h5 Issued Assets

                    h2= issuedAssets

        .col-md-3.mb-3

            .card

                .card-body

                    h5 Assets Under Repair

                    h2= assetsUnderRepair

        .col-md-3.mb-3

            .card

                .card-body

                    h5 Scrapped Assets

                    h2= scrappedAssets




