extends ../layouts/layout

block content

    h2.mb-4 Edit Asset Category

    .card

        .card-body

            form(action=`/categories/edit/${category.id}` method="POST")

                .mb-3

                    label.form-label Category Name

                    input.form-control(
                        type="text"
                        name="name"
                        value=(old && old.name) || category.name
                    )

                    if errors && errors.name
                        .text-danger.small= errors.name.msg

                .mb-3

                    label.form-label Description

                    textarea.form-control(
                        name="description"
                        rows="4"
                    ) #{(old && old.description) || category.description}

                    if errors && errors.description
                        .text-danger.small= errors.description.msg

                .d-flex.justify-content-end.gap-2

                    a.btn.btn-secondary(
                        href="/categories"
                    )
                        | Cancel

                    button.btn.btn-primary(
                        type="submit"
                    )
                        | Update Category