extends ../layouts/layout

block content

    h2 Asset Categories

    .card.mt-3

        .card-body

            .mb-3

                a.btn.btn-success(
                    href="/categories/create"
                )
                    | Add Category

            table.table.table-bordered

                thead

                    tr
                        th #
                        th Category Name
                        th Description
                        th Action

                tbody

                    if categories && categories.length

                        each category, index in categories

                            tr

                                td= index + 1

                                td= category.name

                                td= category.description

                                td

                                    a.btn.btn-sm.btn-warning(
                                        href=`/categories/edit/${category.id}`
                                    )
                                        | Edit

                    else

                        tr

                            td(colspan="4")
                                | No categories found.