extends ../layouts/layout

block content

    h2 Asset History

    .card.mt-3

        .card-body

            .mb-3

                select.form-select(
                    id="assetId"
                )

                    option(value="")
                        | Select Asset

                    each asset in assets

                        option(
                            value=asset.id
                            selected=selectedAsset == asset.id
                        )
                            | #{asset.make} #{asset.model} (#{asset.assetCode})

            .mb-3

                button.btn.btn-primary(
                    type="button"
                    onclick="viewHistory()"
                )
                    | View

            table.table.table-bordered

                thead

                    tr
                        th Date
                        th Action
                        th Employee
                        th Remarks

                tbody

                    if history && history.length

                        each item in history

                            tr

                                td= item.transactionDate ? new Date(item.transactionDate).toLocaleDateString("en-GB") : "-"

                                td= item.action

                                td
                                    if item.employee
                                        | #{item.employee.firstName} #{item.employee.lastName} (#{item.employee.employeeCode})
                                    else
                                        | -

                                td= item.remarks || "-"

                    else

                        tr

                            td(colspan="4")
                                | No history found.

    script.
        function viewHistory() {

            const assetId = document.getElementById("assetId").value;

            if (!assetId) {
                alert("Please select an asset.");
                return;
            }

            window.location.href = "/assets/history/" + assetId;
        }