extends ../layouts/layout

block content

    h2.mb-4 Asset Management

    .card.mt-3

        .card-body

            .mb-3

                h4 Asset List

                a.btn.btn-success(
                    href="/assets/create"
                )
                    | Add Asset

            form(action="/assets" method="GET")

                .row.mb-3

                    .col-md-4

                        input.form-control(
                            type="text"
                            name="search"
                            placeholder="Search Make / Model / Serial No"
                            value=search
                        )

                    .col-md-3

                        select.form-select(name="categoryId")

                            option(value="") All Categories

                            each category in categories

                                option(
                                    value=category.id
                                    selected=categoryId == category.id
                                )= category.name

                    .col-md-3

                        select.form-select(name="status")

                            option(value="" selected=!status)
                                | All Status

                            each assetStatus in assetStatuses

                                option(
                                    value=assetStatus
                                    selected=status == assetStatus
                                )= assetStatus

                    .col-md-2

                        button.btn.btn-primary(type="submit")
                            | Search

            table.table.table-bordered

                thead

                    tr
                        th Asset Code
                        th Serial Number
                        th Category
                        th Make
                        th Model
                        th Purchase Date
                        th Purchase Price
                        th Branch
                        th Status
                        th Actions

                tbody

                    if assets && assets.length

                        each asset in assets

                            tr

                                td= asset.assetCode

                                td= asset.serialNumber

                                td= asset.category ? asset.category.name : "-"

                                td= asset.make

                                td= asset.model

                                td= asset.purchaseDate ? new Date(asset.purchaseDate).toLocaleDateString("en-GB") : "-"

                                td= asset.purchasePrice != null ? Number(asset.purchasePrice).toLocaleString("en-IN") : "-"

                                td= asset.branch

                                td= asset.status

                                td

                                    if asset.status === "IN_STOCK"

                                        a.btn.btn-sm.btn-warning.me-1(
                                            href=`/assets/edit/${asset.id}`
                                        )
                                            | Edit

                                        a.btn.btn-sm.btn-primary.me-1(
                                            href=`/assets/issue/${asset.id}`
                                        )
                                            | Issue

                                        button.btn.btn-sm.btn-dark(
                                            type="button"
                                            onclick=`confirmAssetAction(${asset.id}, 'REPAIR')`
                                        )
                                            | Repair

                                    else if asset.status === "ISSUED"

                                        a.btn.btn-sm.btn-warning.me-1(
                                            href=`/assets/edit/${asset.id}`
                                        )
                                            | Edit

                                        a.btn.btn-sm.btn-info(
                                            href=`/assets/return/${asset.id}`
                                        )
                                            | Return

                                    else if asset.status === "UNDER_REPAIR"

                                        a.btn.btn-sm.btn-warning.me-1(
                                            href=`/assets/edit/${asset.id}`
                                        )
                                            | Edit

                                        button.btn.btn-sm.btn-success.me-1(
                                            type="button"
                                            onclick=`confirmAssetAction(${asset.id}, 'MAKE_IN_STOCK')`
                                        )
                                            | Mark In Stock

                                        button.btn.btn-sm.btn-danger(
                                            type="button"
                                            onclick=`confirmAssetAction(${asset.id}, 'SCRAP')`
                                        )
                                            | Scrap

                                    else if asset.status === "SCRAPPED"

                                        span.text-danger.fw-bold
                                            | Scrapped

                                    else

                                        span.text-muted
                                            | -

                    else

                        tr

                            td.text-center(colspan="10")
                                | No assets found.

            .mt-3

                if pagination.currentPage > 1

                    a.btn.btn-secondary(
                        href=`/assets?page=${pagination.currentPage-1}&search=${search}&categoryId=${categoryId}&status=${status}`
                    )
                        | Previous

                else

                    button.btn.btn-secondary(disabled)
                        | Previous

                span
                    | Page #{pagination.currentPage} of #{pagination.totalPages}

                if pagination.currentPage < pagination.totalPages

                    a.btn.btn-secondary(
                        href=`/assets?page=${pagination.currentPage+1}&search=${search}&categoryId=${categoryId}&status=${status}`
                    )
                        | Next

                else

                    button.btn.btn-secondary(disabled)
                        | Next

    form(
        id="assetActionForm"
        method="POST"
        style="display:none"
    )

        input(
            type="hidden"
            name="action"
            id="assetAction"
        )

        input(
           type="hidden"
           name="remarks"
           id="assetRemarks"
        )

    script.

        function confirmAssetAction(assetId, action) {

            let text = "";

            switch (action) {

                case "REPAIR":
                    text = "Are you sure you want to send this asset for repair?";
                    break;

                case "SCRAP":
                    text = "Are you sure you want to scrap this asset?";
                    break;

                case "MAKE_IN_STOCK":
                    text = "Are you sure you want to mark this asset as In Stock?";
                    break;
            }

            swal("Are you sure?", {
                text: text,
                content:{
                    element:"input",
                    attributes: {
                        placeholder:"Enter Remarks",
                        type:"text"
                    }
                },
                icon: "warning",
                buttons: ["No", "Yes"],
                dangerMode: action === "SCRAP"
            }).then((remarks) => {

                if (remarks === null) {
                    return; // User clicked No
                }

                if (!remarks.trim()) {
                    swal("Remarks are required.", {
                        icon: "error",
                    });
                    return;
                }

                const form = document.getElementById("assetActionForm");

                form.action = "/assets/scrapOrRepairOrStock/" + assetId;

                document.getElementById("assetAction").value = action;

                document.getElementById("assetRemarks").value = remarks.trim();

                form.submit(); 

            });

        }